/* =========================
   Global App Background
   ========================= */
html,
body {
    height: 100%;
    margin: 0;
    background-color: #d5dee8;
}

#app {
    min-height: 100vh;
    background-color: #d5dee8;
}


/* =========================
   App Top Navbar
   ========================= */
.app-navbar {
    background: linear-gradient(
            to bottom,
            #302f50 0%,
            #161631 100%
    );
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.app-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
}

.app-navbar .navbar-brand:hover {
    color: #e0e0ff;
}


.table-light th {
    text-align: inherit;
    text-align: -webkit-match-parent;
    background-color: #294895 !important;
    color: white !important;
}

.card-header {
    background: linear-gradient(
            to bottom,
            #343454 0%,
            #171633 100%
    );

}

.card-header h5, .card-header p, .card-header h6 {
    color: white!important;
}
